
run = "g++ -o lab01/main lab01/main.cpp"
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "g++ -o lab01/main lab01/main.cpp"]

[workflows]
runButton = "lab10zad01"

[[workflows.workflow]]
name = "lab01zad01"
author = 40025330

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lab01/zad01 lab01/zad01.cpp && ./lab01/zad01"

[[workflows.workflow]]
name = "lab01zad02"
mode = "sequential"
author = 40025330

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lab01/zad02 lab01/zad02.cpp && ./lab01/zad02"

[[workflows.workflow]]
name = "lab02zad02"
mode = "sequential"
author = 40025330

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lab02/zad02 lab02/zad02.cpp && ./lab02/zad02"

[[workflows.workflow]]
name = "lab02zad03"
mode = "sequential"
author = 40025330

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lab02/zad03 lab02/zad03.cpp && ./lab02/zad03"

[[workflows.workflow]]
name = "lab03zad01"
mode = "sequential"
author = 40025330

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lab03/zad01 lab03/zad01.cpp && ./lab03/zad01"

[[workflows.workflow]]
name = "lab03zad02"
mode = "sequential"
author = 40025330

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lab03/zad02 lab03/zad02.cpp && ./lab03/zad02"

[[workflows.workflow]]
name = "lab03zad03"
mode = "sequential"
author = 40025330

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lab03/zad03 lab03/zad03.cpp && ./lab03/zad03"

[[workflows.workflow]]
name = "lab03zad04"
mode = "sequential"
author = 40025330

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lab03/zad04 lab03/zad04.cpp && ./lab03/zad04"

[[workflows.workflow]]
name = "lab03zad05"
mode = "sequential"
author = 40025330

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lab03/zad05 lab03/zad05.cpp && ./lab03/zad05"

[[workflows.workflow]]
name = "lab03zad06"
mode = "sequential"
author = 40025330

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lab03/zad06 lab03/zad06.cpp && ./lab03/zad06"

[[workflows.workflow]]
name = "lab04zad01"
mode = "sequential"
author = 40025330

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lab04/zad01 lab04/zad01.cpp && ./lab04/zad01"

[[workflows.workflow]]
name = "lab04zad03"
mode = "sequential"
author = 40025330

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lab04/zad03 lab04/zad03.cpp && ./lab04/zad03"

[[workflows.workflow]]
name = "lab05zad01"
mode = "sequential"
author = 40025330

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lab05/zad01 lab05/zad01.cpp && ./lab05/zad01"

[[workflows.workflow]]
name = "lab05zad02"
mode = "sequential"
author = 40025330

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lab05/zad02 lab05/zad02.cpp && ./lab05/zad02"

[[workflows.workflow]]
name = "lab05zad03"
mode = "sequential"
author = 40025330

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lab05/zad03 lab05/zad03.cpp && ./lab05/zad03"

[[workflows.workflow]]
name = "lab06zad01"
mode = "sequential"
author = 40025330

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lab06/zad01 lab06/zad01.cpp && ./lab06/zad01"

[[workflows.workflow]]
name = "lab06zad02"
mode = "sequential"
author = 40025330

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lab06/zad02 lab06/zad02.cpp && ./lab06/zad02"

[[workflows.workflow]]
name = "lab07zad02"
mode = "sequential"
author = 40025330

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lab07/zad02 lab07/zad02.cpp && ./lab07/zad02"

[[workflows.workflow]]
name = "lab07zad04"
mode = "sequential"
author = 40025330

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lab07/zad04 lab07/zad04.cpp && ./lab07/zad04"

[[workflows.workflow]]
name = "lab07zad05"
mode = "sequential"
author = 40025330

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lab07/zad05 lab07/zad05.cpp && ./lab07/zad05"

[[workflows.workflow]]
name = "lab07zad06"
mode = "sequential"
author = 40025330

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lab07/zad06 lab07/zad06.cpp && ./lab07/zad06"

[[workflows.workflow]]
name = "lab07zad07"
mode = "sequential"
author = 40025330

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lab07/zad07 lab07/zad07.cpp && ./lab07/zad07"

[[workflows.workflow]]
name = "lab08zad01"
mode = "sequential"
author = 40025330

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lab08/zad01 lab08/zad01.cpp && ./lab08/zad01"

[[workflows.workflow]]
name = "lab10zad01"
mode = "sequential"
author = 40025330

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lab10/zad01 lab10/zad01.cpp && ./lab10/zad01"
