
run = "g++ -o lab01/main lab01/main.cpp"
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "g++ -o lab01/main lab01/main.cpp"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "zad01"
author = 40025330

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lab01/zad01 lab01/zad01.cpp && ./lab01/zad01"

[[workflows.workflow]]
name = "zad02"
mode = "sequential"
author = 40025330

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "g++ -o lab01/zad02 lab01/zad02.cpp && ./lab01/zad02"
